
<div class="container-fluid mt-5">
    <div class="row">
      <div class="col-sm-12">
        <div class="card">
          <div class="card-header">
            <h4 class="mb-0 font-weight-bold text-primary text-shadow">Tipo de curva</h4>
            <div class="float-right">
              <button class="btn btn-primary" data-toggle="modal" data-target="#agregarCurvaModalLabel">Agregar Curva</button>

            </div>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table table-hover">
                <thead>
                  <tr>
                    <th scope="col">Identificador de Curva</th>
                    <th scope="col">Descripción</th>
                    <th scope="col">Estado</th>
                    <th scope="col">Acciones</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>001Adidas</td>
                    <td>Zapatos Adidas</td>
                    <td>
                      <input type="checkbox" checked>
                    </td>
                    <td>
                      <button class="btn btn-md btn-warning mr-1" (click)="goToPage('Zapatos Adidas')">Agregar Tallas</button>
                    </td>
                  </tr>
                  <tr>
                    <td>002Nike</td>
                    <td>Zapatos Nike</td>
                    <td>
                      <input type="checkbox" checked>
                    </td>
                    <td>
                      <button class="btn btn-md btn-warning">Agregar Tallas</button>
                    </td>
                  </tr>
                  <tr>
                    <td>003RopAdidas</td>
                    <td>Ropa Adidas</td>
                    <td>
                      <input type="checkbox" checked>
                    </td>
                    <td>
                      <button class="btn btn-md btn-warning">Agregar Tallas</button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <!-- Modal -->
  <div class="modal fade" id="agregarCurvaModalLabel" tabindex="-1" role="dialog" aria-labelledby="agregarCurvaModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="agregarCurvaModalLabel">Agregar Curva</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-group">
              <label for="nombre">Identificador Curva</label>
              <input type="text" class="form-control" id="identificadorRol" placeholder="Identificador Curva">
            </div>
       
            <div class="form-group">
                <label for="correo">Descripción</label>
                <input type="text" class="form-control" id="year" placeholder="Descripción">
              </div>
        
    
            <div class="form-group form-check">
              <input type="checkbox" class="form-check-input" id="estado">
              <label class="form-check-label" for="estado">Activo</label>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
          <button type="button" class="btn btn-primary">Guardar</button>
        </div>
      </div>
    </div>
  </div>
  